@media (min-width: 768px) {
    #hamburgerBtn {
        display: none;
    }

    nav ul {
        display: flex !important;
        flex-direction: row;
    }

    nav li+li {
        margin-top: 0;
        margin-left: 1rem;
    }
    .container {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}